DATABASE_URL=postgresql://postgres.login:password@aws-0-eu-west-1.pooler.supabase.com:5432/postgres

PORT=3000
HASH_SALT_ROUNDS=10

JWT_SECRET=development-secret
JWT_REFRESH_EXPIRES_IN=7d
JWT_ACCESS_EXPIRES_IN=1h
JWT_ACCESS_KEY=jwtaccesskey
JWT_REFRESH_KEY=jwtrefreshkey